<!--Elemento body de la página web-->
    <div>
      
        <div class="row">
            
            <!--Elemento div de 2 columnas para las opciones-->
            <div class="col-lg-2">
                
                <div class = "row">
                    <button type="button" class="btn btn-primary dropbtn" data-toggle="modal" data-target="#exampleModalCenter" i18n>
                        Nueva Carpeta
                    </button>

                    <!-- Modal -->
                    <form (ngSubmit)="onSubmit()" #postForm="ngForm">
                        <div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                <div class="modal-header">
                                    <h5 i18n class="modal-title" id="exampleModalLongTitle">Nueva Carpeta</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-label-group">
                                        <input type="text" class="form-control" id="nombre" name="nombre" required [(ngModel)]="formCarpeta.nombre" #inputTitle="ngModel">
                                    </div>
                                </div>
                                <div class="modal-footer">
                                    <button i18n type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                    <button i18n type="submit" class="btn btn-primary">Crear Carpeta</button>
                                </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class = "row">
                    <button i18n type="button" class="btn btn-primary dropbtn" data-toggle="modal" data-target="#exampleModalCenter2">
                        Nuevo Fichero
                    </button>

                    <!-- Modal -->
                    <form (ngSubmit)="enviarFile()" [formGroup] = "formGroup">
                        <div class="modal fade" id="exampleModalCenter2" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                            <div class="modal-dialog modal-dialog-centered" role="document">
                                <div class="modal-content">
                                <div class="modal-header">
                                    <h5 i18n class="modal-title" id="exampleModalLongTitle">Nuevo Fichero</h5>
                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                    </button>
                                </div>
                                <div class="modal-body">
                                    <div class="form-label-group">
                                        <input type="text" name="nombreFichero" formControlName="nombreFichero" class="form-control" placeholder="Nombre Archivo" required>
                                    </div>
                                    <div class="input-group">
                                        <div class="custom-file">
                                            <input type="file" name="file" formControlName="file" class="custom-file-input" (change)="onSelectedFile($event)">
                                            <label i18n id="labelfile" name="labelfile" class="custom-file-label" for="inputGroupFile04">Elige Archivo</label>
                                        </div>
                                    </div>                          
                                </div>
                                <div class="modal-footer">
                                    <button i18n type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
                                    <button i18n type="submit" class="btn btn-primary">Subir Fichero</button>
                                </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>

                <div class = "row">
                    <button i18n type="button" class="btn btn-primary dropbtn" (click)="volverCarpeta()">
                        Ir a carpeta Raiz
                    </button>
                </div>

                <div class="row fila-opcion">
                    
                    <button i18n (click)="deleteCarpeta()" class="opcion btn btn-danger"><i class="fas fa-trash-alt"></i>Eliminar Carpeta {{carpetaActual}}</button>
                </div>
            </div>


            
            <!--Elemento div de 10 columnas para las carpetas y archivos-->
            <div class="col-lg-10">
                <div class="container-fluid">
                    <div class="row contenedor-ruta">
                        <p href="#" class="ruta" i18n>Carpeta Actual</p><span class="fas fa-chevron-right ruta2"></span><p href="#" class="ruta">{{carpetaActual}}</p>
                    </div> 
          
                        <!--Título del apartado Carpetas-->
                        
                        <div  class="row">
                            <h5 class="tipo-archivo" i18n>Carpetas</h5>
                        </div>
                        <div class="row">                 
                            <div *ngFor="let item of carpetas" class="card carpeta">
                                <a class="enlace_carpeta" (click)="cambiarRuta(item.uid, item.nombre)">
                                    <div class="card-body">
                                        <div class="row">
                                            <i class="fas fa-folder icono-imagen2"></i>
                                            <p i18n class="texto-tarjeta">{{item.nombre}}</p>
                                        </div>
                                    </div>
                                </a>    
                            </div>
                        </div>

                        <div class="row">
                            <h5 class="tipo-archivo" i18n>Ficheros</h5>
                        </div>
                        <div class="row">          
                            <div *ngFor="let item of ficheros" class="card fichero">
                                <div class="img-caja">
                                    <span class="fas fa-file-pdf icono-archivo"></span>
                                </div>
                                <div class="card-body caja-nombre-archivo">
                                    <h6 class="card-title"><button (click)="gen()" class="btn" data-toggle="modal" [attr.data-target]="'#' + item.id">{{item.nombre}}</button></h6>
                                </div>
                            

                            <!-- Modal de cada tarjeta de fichero-->
                            <div class="modal fade" [attr.id]="item.id" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
                                <div class="modal-dialog modal-dialog-centered" role="document">
                                    <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLongTitle">{{item.nombre}}</h5>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                        <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body contenedor-opciones-fichero">
                                        <button (click)="eliminarFichero(item.id)" class="enlace-opcion-fichero" data-dismiss="modal"><i class="fas fa-trash"></i></button>
                                        <button (click)="descargarFichero(item.id)" class="enlace-opcion-fichero" data-dismiss="modal"><i class="fas fa-file-download"></i></button>
                                        <div>
                                            <h6 i18n>DescargarFichero:</h6>
                                            <p>localhost/mvcblog/rest/fichero/{{uuid}}</p>
                                        </div>                 
                                    </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>   
        </div>                       
